.friends-list {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
.friends .friends-list .friend {
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr;
}
.friends .friends-list .share-friend h5 {
  margin-bottom: 0;
}
.friends .share-friend {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.friends select {
  font-size: 16px;
  padding: 8px 10px;
}
