*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: inherit;
}
::selection {
  background-color: rgb(192, 192, 192);
}
body {
  margin: 0;
  font-family: 'Roboto', 'Helvetica Neue', 'Arial', sans-serif;
  color: #222;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root > div {
  background-color: #f5f5f5;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
h1 {
  font-size: 70px;
  line-height: 80px;
}
h2 {
  font-size: 46px;
  line-height: 54px;
}
h3 {
  font-size: 36px;
  line-height: 44px;
}
h4 {
  font-size: 28px;
  line-height: 34px;
}
h5 {
  font-size: 22px;
  line-height: 28px;
}
p,
a,
li,
.body {
  font-size: 16px;
  line-height: 22px;
}
a {
  text-decoration: underline;
  text-underline-offset: 2px;
}
.btn {
  font-family: 'Roboto', 'Helvetica Neue', 'Arial', sans-serif;
  border: 1px solid #222;
  border-radius: 100px;
  padding: 12px 40px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  font-weight: 500;
  letter-spacing: 0.6px;
}
.btn.btn--primary {
  color: white;
  background-color: #222;
}
.btn.btn--primary:hover {
  background-color: #444;
}
.btn.btn--secondary {
  color: #222;
  background-color: white;
}
.btn.btn--secondary:hover {
  background-color: #eee;
}
a:visited {
  color: inherit;
}
.home {
  height: 300vh;
}
.page-width {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 40px;
}
@media only screen and (max-width: 990px) {
  .page-width {
    padding: 0 25px;
  }
  h1 {
    font-size: 43px;
    line-height: 51px;
  }
  h2 {
    font-size: 32px;
    line-height: 40px;
  }
  h3 {
    font-size: 27px;
    line-height: 35px;
  }
  h4 {
    font-size: 22px;
    line-height: 28px;
  }
  h5 {
    font-size: 18px;
    line-height: 22px;
  }
}
@media only screen and (max-width: 550px) {
  .page-width {
    padding: 0 15px;
  }
}
