.notes-grid {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(6, 1fr);
  margin-top: 25px;
}
.notes-grid .headers {
  display: grid;
  grid-column: span 6;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(6, 1fr);
  margin-bottom: 18px;
  padding: 0 10px;
  column-gap: 5px;
}
.notes-grid .note:nth-of-type(odd) {
  background-color: #dbdbdb;
}
.notes-grid .note {
  padding: 10px;
}
@media only screen and (max-width: 750px) {
  .notes-grid {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    padding-bottom: 20px;
  }
  .headers {
    overflow: scroll;
    min-width: 750px;
  }
}
