.general-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 4px;
  border-bottom: 1px solid #222;
  margin-bottom: 30px;
}
.note-page {
  margin-top: 20px;
}
.note-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding-bottom: 120px;
}
.note-wrapper .note-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  align-items: center;
  margin-bottom: 20px;
}
.note-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.note-content .markdown-wrapper img {
  margin-bottom: 18px;
}
.note-content.full {
  margin-bottom: 40px;
}
.note-content.full {
  justify-content: flex-start;
}
.note-content.full > * {
  width: 100%;
}
.note-content.full textarea {
  height: 100%;
  min-height: 700px;
}
.note-content.half {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  position: relative;
  min-height: 700px;
}
.note-content.half:after {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 1px;
  height: 100%;
  background-color: #222;
}
.edit-wrapper {
  margin-top: 100px;
  display: grid;
  grid-template-rows: auto;
  justify-content: center;
  row-gap: 20px;
}
.edit-wrapper .field {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr auto;
  gap: 20px;
  align-items: center;
}
.edit-wrapper .field input,
.edit-wrapper .field-tags input {
  outline: none;
  border: 1px solid #222;
  border-radius: 4px;
  padding: 4px 8px;
  font-size: 16px;
}
.edit-wrapper .field input[type='radio'] {
  width: 20px;
  height: 20px;
  accent-color: #222;
}
.edit-wrapper .field > div {
  display: grid;
  align-items: center;
  justify-content: flex-start;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
}
.edit-wrapper .field > div > div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.edit-wrapper .field-tags {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr auto;
  gap: 20px;
  align-items: center;
}
.edit-wrapper .field-tags > div:not(.tags) {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr auto;
  gap: 20px;
  align-items: center;
}
.edit-wrapper .field-tags .tags {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(3, auto);
  min-width: 200px;
  gap: 10px;
}
.edit-wrapper .add-tag {
  outline: none;
  border: 1px solid #222;
  border-radius: 4px;
  background-color: white;
  color: #222;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: auto;
}
.edit-wrapper button[type='submit'] {
  margin-top: 30px;
}
